{{ partial "header" . }}

<div class='entry'>
  <div class='container entry-content'>
    <span class='screen-reader-text'>
      {{- .Site.Params.info.title404 | default .Title -}}
    </span>
    <figure class='gopher'>
      <center>
      <figcaption>
        <h1 class='title'>
          <a href='{{ "/" | relLangURL }}'>
            {{- .Site.Params.info.title404 | default .Title -}}
          </a>
        </h1>
      </figcaption>
      <a href='{{ "/" | relLangURL }}'>
        <span class='screen-reader-text'>
          {{- i18n "goHome" -}}
        </span>
        <img src='/images/cat.png' alt='404'/>
      </a>
      </center>
    </figure>
    <center>
      If you think this is in error, please report an issue at
      <a href='https://github.com/orgpaket/website'>
      here
      </a>
    </center>
  </div>
</div>

{{ partial "footer" . }}
